UI_EXPOSE_PORT=3000
NUXT_PUBLIC_API_BASE=http://localhost:8888

# Google OAuth Client ID (dari Google Cloud Console)
NUXT_PUBLIC_GOOGLE_CLIENT_ID=

# Firebase Cloud Messaging (FCM)
NUXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAu2oERVGGNpph1e9T0I2FE0HyvOAxQEUU
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sipon-2f5f6.firebaseapp.com
NUXT_PUBLIC_FIREBASE_PROJECT_ID=sipon-2f5f6
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sipon-2f5f6.firebasestorage.app
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=119053554404
NUXT_PUBLIC_FIREBASE_APP_ID=1:119053554404:web:323d47dda5ec3b5fcf12f1
NUXT_PUBLIC_FIREBASE_VAPID_KEY=BOEIcAwX095PdZtB1i8HEPg952dsJrLxrZYhPporNWnk-Mi7HQDHBy4vJJXk8df1ydsDpLXewWUIx_dhfz0CM18